/*$primary:       									#663259;
$primary-hover:    									#58244B;
$primary-light:    									#F4E1F0;
$primary-inverse:  									#FFFFFF;*/
.login.login-2 .login-signin,
.login.login-2 .login-signup,
.login.login-2 .login-forgot {
  display: none; }

.login.login-2.login-signin-on .login-signup {
  display: none; }

.login.login-2.login-signin-on .login-signin {
  display: block; }

.login.login-2.login-signin-on .login-forgot {
  display: none; }

.login.login-2.login-signup-on .login-signup {
  display: block; }

.login.login-2.login-signup-on .login-signin {
  display: none; }

.login.login-2.login-signup-on .login-forgot {
  display: none; }

.login.login-2.login-forgot-on .login-signup {
  display: none; }

.login.login-2.login-forgot-on .login-signin {
  display: none; }

.login.login-2.login-forgot-on .login-forgot {
  display: block; }

.login.login-2 .login-form {
  width: 100%;
  max-width: 450px; }

@media (max-width: 575.98px) {
  .login.login-2 .login-form {
    width: 100%;
    max-width: 100%; } }
