.center {
  text-align: center;
}
.center-items{
  display: flex;
  justify-content: center;
}
.form-control{
  height:10px;
}
a{
  text-decoration:none;
}
.hijo{
  margin-left: auto;
  margin-right: auto;
}