.center {
    text-align: center;
  }
.border-top-solid{
  border-top-style: solid;
}
.border-buttom-solid{
  border-bottom-style: solid;
}
.title{
  color:black;
}
.title:hover{
  color: black;
}
.top{
  margin-top: 1.5px;
}
#insert{
  height: 45px;
  font-weight: 800;
  font-size: 15px;
  color: #ffffff;
  background-color: #253140;
  border-radius: 6px;
  border: 2px solid #FFF;
  margin-top:10px;
}
.center-items{
  display: flex;
  justify-content: center;
}
.input-xs {
  height: 22px;
  padding: 2px 5px;
  font-size: 12px;
  line-height: 1.5;
  border-radius: 3px;
}
#buscar{
  color: #ffffff;
  background-color: #337ab7;
  border-radius: 6px;
  border: 1px solid #FFF;
}
#enviar{
  height: 45px;
  font-weight: 800;
  font-size: 15px;
  color: #ffffff;
  background-color: #337ab7;
  border-radius: 6px;
  border: 2px solid #FFF;
  margin-top:10px;
}
.dataTables_filter, .dataTables_info, .dataTables_length, .dataTables_paginate { display: none; }

