/*$primary:       									#663259;
$primary-hover:    									#58244B;
$primary-light:    									#F4E1F0;
$primary-inverse:  									#FFFFFF;*/
.invoice-6 .invoice-6-container {
  background-color: #1c0152; }

.invoice-6 .title-color {
  color: #b5a6d2; }

.invoice-6 .note-color {
  color: #847cb8; }
