/*$primary:       									#663259;
$primary-hover:    									#58244B;
$primary-light:    									#F4E1F0;
$primary-inverse:  									#FFFFFF;*/
.error.error-3 .error-title {
  font-size: 8.7rem !important; }

@media (min-width: 768px) {
  .error.error-3 .error-title {
    font-size: 15.7rem !important; } }
