/*$primary:       									#663259;
$primary-hover:    									#58244B;
$primary-light:    									#F4E1F0;
$primary-inverse:  									#FFFFFF;*/
.error.error-5 .error-title {
  font-size: 7rem !important; }

@media (min-width: 768px) {
  .error.error-5 .error-title {
    font-size: 14rem !important; } }
